@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 1.5rem;
    padding: 0.2rem 1rem;
    font-size: 2rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: 100vh;

  .icons {
    margin-top: 1rem;
    .btn {
      display: inline-block;
      width: 60px;
      height: 60px;
      background: rgba(lighten($primary-color, 2), 0.5);
      margin-right: 20px;
      border-radius: 30%;
      box-shadow: 0 5px 15px -5px #00000070;
      color: $secondary-color;
      overflow: hidden;
      position: relative;
      text-align: center;

      i {
        line-height: 60px;
        transition: 0.2s linear;
        color: #fff;
      }

      &:hover i {
        transform: scale(1.2);
        color: $primary-color;
      }

      &::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        background: $secondary-color;
        transform: rotate(45deg);
        left: -110%;
        top: 90%;
      }

      &:hover::before {
        animation: anim 0.7s 1;
        top: -10%;
        left: -10%;
      }
    }
  }

  @keyframes anim {
    0% {
      left: -110%;
      top: 90%;
    }
    50% {
      left: 10%;
      top: -30%;
    }
    100% {
      top: -10%;
      left: -10%;
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// Cursor for TypeWriter
.txt {
  border-right: 0.2rem solid #777;
  animation: blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

// About Page
#about {
  background: url(../img/background2.png) center center repeat;
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "i i i i b b b b b b b b"
    "s s s s s s s s s s s s";
  grid-template-columns: repeat(12, 1fr);

  .bio-image {
    grid-area: i;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: b;
    font-size: 1.5rem;
  }

  .logos {
    grid-area: s;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .logo {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.1rem;
      margin: 20px;
    }
  }
}

//Work/Projects
#work {
  background: url(../img/background2.png) center center repeat;
}
.projects {
  display: grid;
  grid-gap: 0.7rem;
  padding-top: 2rem;

  .item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;

    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.9;
      border-radius: 15px;
    }

    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      h2,
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
      }

      h2 {
        word-spacing: -0.15em;
        font-weight: 300;
        font-size: 158.75%;
        margin: 0;

        span {
          font-weight: 600;
        }
      }

      p {
        letter-spacing: 1px;
        font-size: 68.5%;
        margin: 0;
        width: 100px;
        text-transform: none;
        font-size: 200%;
        line-height: 2;

        a {
          &:first-child i {
            -webkit-transform: translate3d(-60px, -60px, 0);
            transform: translate3d(-60px, -60px, 0);
          }

          &:nth-child(2) i {
            -webkit-transform: translate3d(60px, -60px, 0);
            transform: translate3d(60px, -60px, 0);
          }

          i {
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
          }
        }

        a:hover,
        p a:focus {
          opacity: 0.6;
        }
      }

      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
        color: #fff;
      }
    }

    figcaption::before,
    figcaption::after {
      pointer-events: none;
    }

    figcaption::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 148px;
      height: 148px;
      border: 2px solid #fff;
      content: "";
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg)
        scale3d(0, 0, 1);
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg)
        scale3d(0, 0, 1);
      -webkit-transform-origin: 50%;
      transform-origin: 50%;
    }

    &:hover {
      figcaption::before {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg)
          scale3d(1, 1, 1);
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg)
          scale3d(1, 1, 1);
      }

      h2 {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
        transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
      }

      p i:empty {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(
          0,
          0,
          0
        ); /* just because it's stronger than nth-child */
        opacity: 1;
      }
    }
  }
}
// Contact Page
#contact {
  background: url(../img/background2.png) center center repeat;
}
.boxes {
  margin-top: 3rem;
  .mail {
    font-size: 2rem;
    margin-bottom: 3rem;
    @include easeOut;
    p {
      margin-top: 1rem;
    }
  }
  .socials {
    margin-top: 1rem;
    font-size: 2rem;
    a {
      padding: 0.4rem;
      font-size: 1rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}
#main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 50px;
}
@import "mobile";
